[data]

root = /mnt/FHDTIE

windspeed_path = ${root}/data/gridsat.path.ibtr.windspeed.csv
gridsat_min_max_path = ${root}/data/gridsat.img.min.max.npy
reanalysis_min_max_path = ${root}/data/reanalysis.min_max.npy
train_range = 2010,2017
test_range = 2018,2020
validate_ratio = 0.2
validate_random_state = 0
batch_size = 96
epochs = 200
patient = 200
learning_rate = 0.001
test_batch = 128
device = cuda:1
num_gpus = 1
; for testing
is_train = True
; if is_train is true, the model_save_folder will be recognize as retrain folder
; if is_train is false, the model_save_folder will be recognize as test folder
; /mnt/typhoon_intensity_extension/compare_1c_r/HDTIE/save-0-20240210_025503_913906/
model_save_folder =

[model]
gcn_hidden1 = 32
gcn_hidden2 = 64
gcn_fnn_hidden = 128
; satellite image
in_channel = 1
; reanalysis data
r_in_channel = 3
num_cluster = 20



